.input-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.row {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.row button {
    white-space: nowrap;
}

.input {
    max-width: 204px;
    width: 100%;
}

.input input {
    height: 60px;
}

.add-head-btn, .add-tail-btn, .remove-head-btn, .remove-tail-btn {
    width: 175px;
}

.add-by-index-btn, .remove-by-index-btn {
    width: 362px;
}


.solution-list {
    margin-top: 120px;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-bottom: 0;
}

.solution-list__item {
    align-items: center;
    display: flex;
    gap: 8px;
    position: relative;
}

.circle-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.small-top-circle {
    position: absolute;
    top: -68px;
 }

.small-bottom-circle {
    position: absolute;
    top: 121px;
}

